@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
::after
::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
} 
li {
    list-style: none;

}
h1 {
    font-weight: 600;
    font-size: 1.5rem;

}
body {
    font-family: 'Poppins' ,sans-serif;

}
.wrapper{
    display: flex;
    
}
.main {
        min-height: 100vh;
        width: calc(100% - 70px); 
        margin-left: 70px; 
        overflow: auto; 
        transition: margin-left .25s ease-in-out;
        background-color: #ebebf5;
    }
    
    #main.expand {
        margin-left: 180px;
        width: calc(100% - 180px);
    }
#sidebar{
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #0e0e0e;
    position: fixed;
    top: 0;
    bottom: 0;
    right: auto;
   
}

#sidebar.expand {
    width:180px ;
    min-width: 180px;

}
#toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}
#toggle-btn i{
    font-size: 1.5rem;
    color:#fff;

}
.sidebar-logo {
    margin: auto 0;

}
.sidebar-logo a{
    color:#fff;
    font-size: 1.15rem;
    font-weight: 600;

}
#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;

}
.sidebar-nav{
    padding: 2rem 0;
    flex: 1  1 auto;
}
a.sidebar-link{
    padding:  .625rem 1.625rem;
    color:#fff;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;;
    border-left: 3px solid transparent;
}
a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075); 
    border-left: 3px solid #3b7ddd;

}
.sidebar-item{
    position: relative;
}
/*................main..................*/
.container .card {
    width: 950px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="tel"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-check {
    margin-top: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    margin-top: 2px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #df0cdf;
 
}